html {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background: linear-gradient(45deg, red, blue) no-repeat;
    font-family: roboto, sans-serif;
    height: 100vh;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    position: relative;
}

.wrap-elem {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    border-radius: 5px;
    background-color: #ffffff;
}

@media only screen and (min-width:360px) and (max-width:768px) {
    .wrap-elem {
        width: 100%;
    }
}

/*list component*/
.my-list {
    width: 100%;
    margin-top: -7px;
    padding: 0;
}

.item {
    list-style: none;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    margin: 2px 0 0 0;
    text-transform: capitalize;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.5rem;
    border-bottom: 1px solid gainsboro;
    font-family: roboto, sans-serif;
}

.item:hover::before {
    content: "";
    display: block;
    width: 3px;
    height: 100%;
    background-color: #6765f5;
}

.item:hover {
    background-color: rgb(243, 243, 243);
}

.itemtext {
    padding: 0 2rem;
    color: rgba(19, 18, 18, 0.603);
    font-family: roboto, sans-serif;
    font-weight: 700;
    display: block;
    width: 75%;
}
.close{
    width: 15px;
    height: 15px;
    border: 2px solid rgba(128, 128, 128, 0.55);
    margin-right: 18px;
    border-radius: 50px;
    text-align: center;
    font-size: 2.5rem;
    color: rgba(128, 128, 128, 0.55);
    line-height: 15px;
    transform: rotate(134deg);
    cursor: pointer;
}


/*head component*/
.head {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    color: #6765f5;
    background-color: rgb(253, 253, 253);
    width: 100%;
    padding: 3rem 0;
    border-radius: 5px 5px 0 0;
}
.day-wrap{
    padding: 0 1rem;
}



#day {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 2px;
}

@media only screen and (max-width:768px) {
    #day {
        font-size: 2.2rem;
    }
}

#month {
    font-size: 1.5rem;
    font-weight: 400;
    color: #a9a8ff;
}

#tasks {
    color: #a9a8ff;
    display: flex;
    align-self: center;
    font-size: 1.4rem;
    padding: 0 3rem;
}

.tasknr {
    margin-right: 3px;
}

.comp-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -14px;
}

/*input component*/
.wrap_input {
    width: 100%;
    padding: 0 10px;
    border: transparent;
    border-bottom: 1px solid gainsboro;
    padding: 1.3rem 10px;
    padding-bottom: 5px;
    color: #8d8d8d;
}

.wrap_input:focus {
    border-bottom: 2px solid #a9a8ff;
    outline: none;
    transition: all .5s ease;
    color: #8d8d8d;
    text-transform: uppercase;
    font-family: roboto, sans-serif;
}

::placeholder {
    text-transform: uppercase;
    color: rgba(184, 184, 184, 0.658);
    font-family: roboto, sans-serif;

}

.bla::placeholder {
    color: rgba(255, 57, 57, 0.712);
    text-transform: uppercase;
    font-family: roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all 1s ease;
}

.btn {
    right: 0;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border: none;
    font-size: 2rem;
    color: white;
    background-color: rgba(255, 112, 112, 0.753);
    border-radius: 50%;
    position: absolute;
    top: 24%;
    outline: none;
}

@media only screen and (max-width:1024px) {
    .btn {
        width: 40px;
        height: 40px;
        top: 41%;
    }
}